/*nhỏ hơn trong khoảng từ 1200 px đến 1024
@media only screen and (max-width: 1200px) and (min-width: 1024px){
    header {
        background: red;
    }
}
*/
@media only screen and (max-width: 1200px) and (min-width: 1024px){
    nav.custom-nav .custom-list ul li{
        font-size: 14px;
    }
    .latest-updates .card-custom h5{
        font-size: 12px;
    }
    .inner-solver h3, .inner-challenges h3{
        font-size: 13px;
    }
    .inner-solver .icon-left-right i{
        font-size: 11px;
    }
    .custom-footer h2{
        font-size: 1.5rem;

    }
    .custom-footer h3{
        font-size: 1.3rem;
    }
    .custom-copyright a{
        font-size: 8px;
    }
    .custom-copyright p{
        font-size: 9px;
    }
}
@media only screen and (max-width: 1023px) and (min-width: 991px) {
    nav.custom-nav .custom-list ul li {
        font-size: 14px;
    }

    .latest-updates .card-custom h5 {
        font-size: 12px;
    }

    .inner-solver h3, .inner-challenges h3 {
        font-size: 13px;
    }
    .inner-solver .icon-left-right i{
        font-size: 11px;
    }
    .custom-footer h2{
        font-size: 1.5rem;

    }
    .custom-footer h3{
        font-size: 1.3rem;
    }
    .custom-copyright a{
        font-size: 8px;
    }
    .custom-copyright p{
        font-size: 9px;
    }
    .custom-challenges .challengers-group .item .body-item h5{
        font-size: 11px;

    }
    .custom-challenges .challengers-group .item .body-item{
        width: 70%;
    }
}
@media only screen and (max-width: 991px) and (min-width: 767px) {
    .copyright{
        display: flex;
    }
    .custom-copyright{
        order: 2;
    }
    nav.custom-nav, footer{
        margin-top: 0;
    }
    nav.custom-nav .custom-list ul li {
        font-size: 9px;
    }

    .why-abc ul li{
        font-size: 12px;
    }
    .inner-solver h3, .inner-challenges h3{
        font-size: 9px;
    }
    .custom-solver .inner-person .person p{
        font-size: 12px;
    }
    .inner-solver .icon-left-right i{
        font-size: 6px;
    }
    .inner-solver hr{
        width: 40%;
        right: 15%;
        top: 16%;
    }
    .custom-challenges .challengers-group .item .body-item h5{
        font-size: 10px;
    }
    .custom-challenges .custom-row-challenges{
        margin-top: 1em;
    }
    .custom-footer h3{
        font-size: 0.9rem;
    }
    .custom-footer h2{
        font-size: 1.1rem;
    }
    .custom-copyright p{
        font-size: 8px;
    }
    .custom-copyright a{
        font-size: 6px;
    }
    .copyright .icon-fa i{
        font-size: 20px;
    }
    header .right-header>.language{
        width: 100%;
        margin: 0;
    }
    header .right-header .login-reg{
        font-size: 14px;
    }
}
@media only screen and (max-width: 768px) and (min-width: 425px) {
    .carousel-indicators{
        display: none;
    }
    .copyright{
        display: flex;
    }
    .custom-copyright{
        order: 2;
    }
    .copyright .custom-icon{
        margin: 0 25%;
    }
    nav.custom-nav{
       margin-top: 0;
    }
    .custom-footer form{
        height: 12vh;
        width: 90%;
    }

    header .img-bg img{
        display: none;
    }
    header .logo img{
        width: 50%;
        margin: 0 25%;

    }
    header .right-header>.language{
        text-align: center;
    }
    header .right-header .login-reg{
        text-align: center;
    }
    .why-abc h2, .latest-updates h2{
        font-size: 15px;
    }
    .inner-solver h3, .inner-challenges h3{
        font-size: 14px;
        width: 100%;
    }
    .inner-challenges hr,
    .inner-solver hr{
        display: none;
    }
    .custom-challenges .challengers-group .item .body-item {
        width: 50%;
    }
    .custom-copyright{
        width: 100%;
        font-size: 11px;
    }
    .custom-copyright a{
        font-size: 11px;
    }
    main .area{
        padding-top: 1em;
    }
    .inner-solver .icon-left-right{
        left: 91%;
        bottom: 30px;
    }

}
@media only screen and (max-width: 425px) and (min-width: 375px) {
    .link-privacy{
        display: block;
    }
    .copyright .custom-icon{
        margin: 0 25%;
    }
    .carousel-indicators{
        display: none;
    }
    .copyright{
        display: flex;
    }
    .custom-copyright{
        order: 2;
        text-align: center;
    }
    main .area{
        padding-top: 1em;
    }
    .custom-challenges .challengers-group .item .body-item{
        width: 70%;
    }
    .custom-challenges .challengers-group .item .body-item h5{
        width: 100%;
    }
    .inner-solver hr, .inner-challenges hr,.inner-solver .icon-left-right{
        display: none;
    }
    header .logo img{
        width: 50%;
        margin: 0 25%;
    }
    .custom-footer form{
        height: 12vh;
        width: 100%;
    }
    header .img-bg img{
        display: none;
    }
    nav.custom-nav, footer{
        margin-top: 0;
    }
    header .right-header>.language{
        width: 50%;
        margin: 0 25%;
    }
    header .right-header .login-reg{
        margin: 1rem 4rem;
    }
    .why-abc h2, .latest-updates h2{
        font-size: 16px;
    }
    .inner-solver h3, .inner-challenges h3{
        width: 50%;
    }
    .custom-copyright a{
        color: #ffffff;
        font-size: 9px;
    }
    .custom-copyright p{
        font-size: 11px;
    }
    .copyright .icon-fa{
        font-size: 25px;
        justify-content: center;
    }
    .copyright .icon-fa i{
        width: 40px;
        height: 40px;
    }
}
@media only screen and (max-width: 375px) and (min-width: 320px){
    .link-privacy{
        display: block;
    }

    .copyright .custom-icon{
        margin: 0 25%;
    }
    .carousel-indicators{
        display: none;
    }
    .copyright{
        display: flex;
    }
    .custom-copyright{
        order: 2;
        text-align: center;
    }
    main .area{
        padding-top: 1em;
    }
    header .logo img {
        width: 50%;
        margin: 0 25%;
    }

    header .img-bg img {
        display: none;
    }
    header .right-header>.language{
        width: 55%;
    }
    header .right-header .login-reg{
        margin: 1em 15%;
    }
    nav.custom-nav, footer{
        margin-top: 0;
    }
    .custom-toggle.navbar-toggler{
        margin: 0 42%;
    }
    .why-abc h2, .latest-updates h2{
        font-size: 14px;
    }
    .why-abc ul li{
        font-size: 13px;
        padding: 0.1em 1em;
    }
    .inner-challenges hr,.inner-solver hr{
        display: none;
    }
    .inner-solver h3, .inner-challenges h3{
        width: 50%;
    }

    .custom-footer h3,
    .custom-footer h2{
        margin: 0 13px;
        font-size: 1.1rem;
    }
    .custom-footer form{
        height: 12vh;
        width: 70vw;
    }
    .custom-copyright p{
        font-size: 9px;
    }
    .custom-copyright a{
        font-size: 9px;
    }
    .copyright .icon-fa{
        font-size: 16px;
        justify-content: center;
    }
    .copyright .icon-fa i{
        width: 40px;
        height: 40px;
    }
    .custom-challenges .challengers-group .item .body-item{
        width: 70%;
    }
    .inner-solver .icon-left-right{
        display: none;
        left: 41%;

    }
    .latest-updates .card-custom h5 {
        font-size: 14px;
    }
    .inner-solver h3, .inner-challenges h3 {
        width: 70%;
    }
    .custom-footer form .btn-footer{
        font-size: 2.5vw;

    }
    /*button[type=submit]{
        font-size: 2.5vw;
    }*/


}
@media only screen and (max-width: 320px){
    button[type=submit]{
        font-size: 2.5vw;
    }
    .custom-challenges .challengers-group .item .body-item{
        width: 70%;

    }
    .inner-solver h3, .inner-challenges h3 {
        width: 100%;
    }
    header .img-bg img{
    display: none
    }
    header .right-header{
        text-align: center;
    }
    nav.custom-nav, footer{
        margin-top: 0;
    }
    .copyright{
        display: flex;
    }
    .custom-copyright{
        order: 2;
        text-align: center;
    }
    .copyright .icon-fa {
        font-size: 25px;
        justify-content: center;
        width: 100%;
    }
    .copyright .custom-icon {
        margin: 0 25%;
    }
    .custom-footer form{
        height: auto;
    }
    .custom-footer h3{
        font-size: 1.2rem;
    }
    .custom-footer h2{
        font-size: 1.5rem;
    }
    .copyright .icon-fa i{
        width: 40px;
        height: 40px;
        padding: 0.5rem;
    }
    .inner-solver hr,
    .inner-solver .icon-left-right,
    .inner-challenges hr,
    main .area .custom-area hr,
    .carousel-indicators{
        display: none;
    }
    .col-md-2.col-sm-12.logo{
        margin: 0 25%;
    }
    header .logo img{
        width: 80%;
    }
    .custom-toggle.navbar-toggler{
        margin: 0 40%;
    }
    .why-abc h2, .latest-updates h2{
        font-size: 0.8rem;
    }



}